{% extends "blog/base.html" %}
{% block title %}{{post.title }} — Блог{% endblock %}
{% block content %}

  <h2>{{ post.title }}</h2>
  <p>
  <small>
      Автор: {{ post.author.username|default:"(аноним)" }}<br>
      Создано: {{ post.created_at|date:"d.m.Y H:i" }}
  </small>
  </p>

  <p>
  <small>Создано: {{ post.created_at|date:"d.m.Y H:i" }}</small>
  {% if post.updated_at and post.updated_at != post.created_at %}
    <br><small>Обновлено: {{ post.updated_at|date:"d.m.Y H:i" }}</small>
  {% endif %}
  </p>
  <p>{{ post.body }}</p>

  <hr>
  <h3>Комментарии ({{ comments.count }})</h3>
  {% if comments %}
    <ul>
      {% for comment in comments %}
        <li>
      <strong>
        {% if comment.author %}
            {{ comment.author.username }}
        {% else %}
            Гость
        {% endif %}
    </strong>,
    <small>{{ comment.created_at|date:"d.m.Y H:i" }}</small><br>
        <p>{{ comment.text }}</p>
          <a href="{% url 'post_edit' pk=post.pk %}">Редактировать</a>
          <a href="{% url 'post_delete' pk=post.pk %}">Удалить</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Пока нет опубликованных комментариев.</p>
  {% endif %}
  <hr>
  <h3>Оставить комментарий</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
  </form>

  <p><a href="{% url 'post_list' %}">Вернуться к списку постов</a></p>
{% endblock %}