{% extends "blog/base.html" %}
{% block title %}{{post.title }} — Блог{% endblock %}
{% block content %}
  <h2>{{ post.title }}</h2>
  <p>
  <small>Создано: {{ post.created_at|date:"d.m.Y H:i" }}</small>
  {% if post.updated_at and post.updated_at != post.created_at %}
    <br><small>Обновлено: {{ post.updated_at|date:"d.m.Y H:i" }}</small>
  {% endif %}
  </p>
  <p>{{ post.body }}</p>
  {% if comments %}
    <ul>
      {% for el in comments %}
        <li>
          <strong>{{ author }}</strong><br>
          <p>{{ text }}</p>
          <a href="{% url 'post_edit' pk=post.pk %}">Редактировать</a>
          <a href="{% url 'post_delete' pk=post.pk %}">Удалить</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Пока нет опубликованных комментариев.</p>
  {% endif %}
  <p><a href="{% url 'post_list' %}">Вернуться к списку постов</a></p>
{% endblock %}